<div class="row-sm-20">
    <div class="col-sm-20">
			<div class="card style="width: 50rem;">
	  			<div class="card-block">
	    			<h4 class="card-title"><%= article.title %></h4>
	    			<p class="card-text"><%= @markdown.render(article.body).html_safe %></p>
	  			</div>
			</div>
			<div class = "card-footer">
				<%= link_to 'Show', article, class: 'btn btn-warning' %>
				<%= link_to 'Edit', edit_article_path(article), class: 'btn btn-warning' %>
				<%= link_to 'Delete', article, method: :delete, data: { confirm: 'Are you sure?'} %>
			</div>
    </div>
</div>